body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#review-form label {
  /* margin-top: 5px; */
  margin-bottom: 5px;
}

#review-form input {
  margin-bottom: 1%;
  border-radius: 10px;
  text-align: center;
}

#review-form button {
  margin-bottom: 1%;
}

#feed {
  height: 100vh;
}

img {
  border-radius: 20px;
}

/* img:hover {
  transform: scale(1.1);
} */

#movie {
  margin-top: 13%;
}

#movie:hover {
  transform: scale(1.1);
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

